.cover {
  height: 700px;
  width: 650px;
}

.head-bar {
  font-family: sans-serif;
  font-size: 75px;
  color:whitesmoke;
  background-color: teal;
}

.list {
  text-align: left;
  background-color:teal;
  color:white;
}

.sub{
    font-size: 35px;
    text-align: center;
}

.list{
    font-size: 20px;
}

.caption {
    color: white;
}

.cap-bar {
    background-color: teal;
}
